* {
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

nav {
  /* border: solid 1px red; */
  display: flex;
}

.nav-esq {
  align-items: center;
  /* border: solid 1px red; */
  display: flex;
  padding: 7px;
  width: 90%;
}

.nav-links {
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-around;
  width: 70%;
}

nav a {
  color: #3473c8;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

nav a:hover {
  font-size: 25px;
  transition: font-size 0.3s ease;
}

.lp-main {
  background-image: url("assets/images/caridade-foto.png");
  background-size: cover;
  /* border: solid 1px red; */
  color: #ffffff;
  height: 75vh;
  padding: 30px;
}

button {
  background-color: #ffca0f;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  padding: 20px;
  width: max-content;
}

button:hover {
  transition: 0.3s;
}

button span {
  position: relative;
  text-decoration: none;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  opacity: 0;
  position: absolute;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.destaque {
  background-image: url("assets/images/enchente-rs.jpg");
  background-size: cover;
  /* border: solid 1px red; */
  color: #ffffff;
  height: 450px;
  padding: 30px;
}

.title {
  font-size: 35px;
  text-shadow: 0px 1px 4px #000000;
  width: 45%;
    -webkit-text-stroke: 1px #f8f8f8;
}

.texto {
  font-size: 21px;
  text-shadow: 0px 1px 2px #000000;
  width: 45%;
    -webkit-text-stroke: 1px #f8f8f8;
}

.capa-conteudo {
  position: relative;
  top: 50%;
}

.destaque-conteudo {
  position: relative;
  top: 260px;
}

.campanha-title {
  margin-top: 30px;
  text-align: center;
}

.campanhas {
  /* border: solid 1px red; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 30px;
  text-align: center;
}

.campanha-card {
  /* border: solid 1px red; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  color: #4e4e4e;
  text-align: left;
  width: 32%;
}

.campanha-card h1 {
  color: #000000;
  font-size: 27px;
  font-weight: 700;
}

.campanha-imagem {
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.campanha-imagem:hover {
  transform: scale(1.1); /* Aumenta a imagem em 20% */
  transition: transform 0.3s ease; /* Tempo de transição e efeito suave */
}

.campanha-conteudo {
  padding: 10px;
}

.missao {
  /* border: solid 1px red; */
  display: flex;
  /* flex-direction: column; */
  padding: 30px;
}

.missao-imagem {
  /* border: solid 1px red; */
  width: 60%;
}

.missao-conteudo {
  /* border: solid 1px red; */
  padding: 40px;
  width: 40%;
}

.missao-conteudo h1 {
  font-size: 35px;
}

.missao-conteudo p {
  font-size: 15px;
  line-height: 20px;
}

hr {
  border: 1.8px solid black;
  width: 75%;
}

footer {
  background-color: #3473c8;
  /* border: solid 1px red; */
  color: #ffffff;
  padding: 30px;
  text-decoration: none;
}

.footer-container {
  display: flex;
  padding: 10px 10px 30px;
}

.footer-esq {
  /* border: red solid 1px; */
  display: flex;
  width: 70%;
}

.footer-misc {
  /* border: red solid 1px; */
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 50px;
}

.footer-misc a {
  /* border: solid 1px red; */
  color: #ffffff;
  text-decoration: none;
}

.footer-misc a:hover {
  /* border: solid 1px red; */
  color: #00a0c6;
  cursor: pointer;
  text-decoration: none;
}

.footer-dir {
  /* border: solid 1px red; */
  width: 30%;
}

.nos-encontre {
  display: flex;
  flex-direction: column;
}

.redes-sociais-logo {
  /* border: solid 1px red; */
  padding: 10px 4px;
  width: 40px;
}

.ong-logo {
  /* border: solid 1px red; */
  padding-left: 30px;
  width: 120px;
}

.ong-logo-white {
  width: 200px;
}

a {
  color: #000000;
  text-decoration: none;
}



/* Página Sobre Nós */



.for {
  width: 100%;
}

.fores-about {
  background-color: rgba(21, 255, 0, 0.5); /* Fundo semitransparente */
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 80px;
  margin-top: 12%;
  position: absolute;
  text-align: center;
  width: 40%;
}

.writecenter {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-content {
  font-family: "Quicksand", sans-serif;
  margin-left: 0%;
  max-width: 50%;
  padding: 20px;
  text-align: justify;
}

.about-content h2 {
  color: #3473c8;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 700;
  text-align: start;
}

.about-content p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify center;
}

.about-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.about-content ul li {
  color: #333;
  display: flex;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.nossa-equipe {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 30px;
  margin-left: 35%;
  text-align: center;
  width: 70%;
}

.aulado {
  display: flex;
}

.childrens {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  margin-left: 10%;
  width: 80%;
}

.valores {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  margin-left: 20%;
  width: 70%;
}

.about-content1 {
  margin-left: 8%;
  margin-right: 10%;
  max-width: 40%;
  padding: 20px;
  text-align: justify;
}

.about-content1 h2 {
  color: #3473c8;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: justify;
}

.about-content1 p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.about-content2 {
  margin-left: 8%;
  max-width: 40%;
  padding: 20px;
  text-align: justify;
}

.about-content2 h2 {
  color: #3473c8;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: right;
}

.about-content2 p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.hri {
  border-color: #ffca0f;
  border-radius: 15px;
  border-top: 10px solid #ffca0f; /* Define a cor e espessura da borda */
  width: 70%;
}


/* Página Doação */



.container1 {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  padding: 20px;
  text-align: start;
  width: 40%;
}

.para {
  color: #3473c8;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.form-group input[type="submit"] {
  background-color: #ffca0f;
  border: none;
  color: #fff;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #d5a700;
}

.disclaimer {
  color: #777;
  font-size: 12px;
  text-align: center;
}

.nav-esqi {
  align-items: center;
  /* border: solid 1px red; */
  display: flex;
  padding: 7px;
  width: 90%;
}

.hr-donation {
  border-color: #ffca0f;
  size: 15px;
  width: 100%;
}

.pagedo {
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  margin-right: 2%;
  width: 400px;
}

.aolado {
  display: flex;
  margin-left: 18%;
}



/* Página Descubra */



.discover {
  flex-direction: column;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: white;
  border: 0px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.imgs {
  border: black solid 5px;
  border-radius: 10px;
  max-width: 400px;
}

.imgs:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.grid-container h2 {
  color: #3473c8;
  text-align: center;
}

.grid-container p {
  padding: 25px;
  text-align: justify;
}

.doacoes {
  width: 100%;
}

.fores-discover {
  background-color: rgba(0, 38, 255, 0.5);
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
  color: #ffffff;
  font-size: 80px;
  margin-top: 12%;
  position: absolute;
  text-align: center;
  width: 40%;
}
