nav {
  /* border: solid 1px red; */
  display: flex;
}

.nav-esq {
  align-items: center;
  /* border: solid 1px red; */
  display: flex;
  padding: 7px;
  width: 90%;
}

.nav-links{
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-around;
    width: 70%;
}
  
nav a {
    text-decoration: none;
    color: #3473c8;
    font-weight: 700;
    font-size: 20px;
    transition: font-size 0.3s ease;
}
nav a:hover{
  font-size: 25px;
}
.nos-encontre {
    display: flex;
    flex-direction: column;
  }
  
  .redes-sociais-logo {
    /* border: solid 1px red; */
    padding: 10px 4px;
    width: 40px;
  }
  
  .ong-logo {
    /* border: solid 1px red; */
    width: 120px;
    padding-left: 30px;
  }
  
  .ong-logo-white {
    width: 200px;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display:contents;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
.container1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 100%;
    text-align: start;
    }
.para{
    color: #3473c8;
    text-align: center;
    }
.form-group {
    margin-bottom: 15px;
    }
.form-group label {
    display: block;
    margin-bottom: 5px;
    }
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    }
.form-group input[type="submit"] {
    background-color: #ffca0f;
    color: #fff;
    border: none;
    cursor: pointer;
    }
.form-group input[type="submit"]:hover {
    background-color: #d5a700;
    }
.disclaimer {
    font-size: 12px;
    color: #777;
    text-align: center;
    }
.nav-esqi {
    align-items: center;
    /* border: solid 1px red; */
    display: flex;
    padding: 7px;
    width: 90%;
    }
.hri{
    size: 15px;
    width: 100%;
    border-color: #ffca0f;
    }
.pagedo{
    width: 400px;
    margin-right: 2%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    }
.aolado{
    display: flex;
    margin-left: 18%;
    }
footer {
    /* border: solid 1px red; */
    background-color: #3473c8;
    color: #ffffff;
    padding: 30px;
    text-decoration: none;
    }

.footer-container {
    display: flex;
    padding: 10px 10px 30px;
    }

.footer-esq {
    /* border: red solid 1px; */
    display: flex;
    width: 70%;
    }

.footer-misc {
/* border: red solid 1px; */
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 50px;
    }

.footer-misc a {
/* border: solid 1px red; */
    color: #ffffff;
    text-decoration: none;
    }
.footer-misc a:hover {
    /* border: solid 1px red; */
    color: #00a0c6;
    cursor: pointer;
    text-decoration: none;
    }

.footer-dir {
    /* border: solid 1px red; */
    width: 30%;
    }